# Logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

node_modules
.output
.env
.envrc
.direnv
test-results
playwright-report
.playwright/
.playwright-cli/
stats.html
stats-*.json
.discovery
.discovery/
.wxt
web-ext.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
